<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wly.competition_system_management_backend.mapper.CompetitionMapper">

    <resultMap id="CompetitionMap" type="com.wly.competition_system_management_backend.model.domain.Competition">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="expireTime" column="expireTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>
    <select id="listAllCompetition" resultMap="CompetitionMap">
        select id, name, level, createTime, updateTime, expireTime from competition where isDelete = 0
    </select>


</mapper>